body{
   
   margin: 0 ;
    font-size: 2rem;
   
}
form{
   width: 500px;
   margin: 0 auto;
}
form > *{
   /* 
       Pasamos los elementos interiores del form a bloque
       Se podría usar display inline-block y establecer un ancho de 45% (por ejemplo) para que el texto del label quede al lado del input
   */
   display: block;
   text-align: center;
   width: 50%;
   margin: 0 auto;
   /* 
       Nos permite corregir el ancho de los input para que queden igual (en este caso)
   */
   box-sizing: border-box;   
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
label{
   text-align: center;

}

select{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: cadetblue;
   color: white;
   padding: 4px;
   font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
   /* 
       Deshabilitamos que el usuario pueda cambiar el tamaño del textarea
   */
   resize: none;
   height: 24px;
   transition: 1s;
}

textarea:focus{
   height: 200px;
}

input,textarea{
   margin-bottom: 20px;
}
input{
   margin-bottom: 20px;
   border-radius: 20px;
   border: 1px solid lightgrey;
   padding: 5px;
}
input[type="submit"]{
   transition: 0.7s;
   background-color: cornflowerblue;
   color: white;
   text-shadow: 0 0 2px black;
}

input[type="submit"]:hover{   
   background-color:rgb(37, 107, 237);
   color: rgb(222, 222, 222);
}


fieldset{
   margin-bottom: 30px;
}

input[type="button"]{
   background-color: darkgreen;
   color: white;
   width: 50%;
   margin: 0 25%;
   padding: 4px;
   box-sizing: border-box;
   border: 0;
}

h1,h2 {
 
display: flex;
        background-color: hwb(0 93% 4% / 0.036);
        color:rgb(196, 39, 39);
        text-align: center;
        height: 70px;
      
       
        /* 
         
            Fijamos la cabecera en el tope de la página  list-style: none;  
             position: fixed;  
        */
       
        width:100%;
        top:0%;
        left:170%;  
        justify-content: center;
        align-items: center;
}

#youtube iframe{
   display:flex;

 width:40%;
 height:40%;
 top:40%;
margin-left: 35%;
   margin-right: 45%;
 }
 h3{
 justify-content: center;
 }
 main{
    width: 60%;
    margin: 0 auto;
 }
 .irahome{
   display: flex;
   list-style: none; 
   text-decoration: none;
   margin-top:13%;
  margin-right: 20%; 
   margin-left:45%;
 }
 footer{
   background-color: navy;
   width: 100%; 
   margin-top: 100%;      
   text-align: center; 
   padding: 13px  120px;
}

footer small{
   color: white;
   box-shadow: 2px 2px 10px rgb(109, 57, 57);
   
}

